.App {
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-cntnr {
  background: #f5f5f5;
}

.cntnr {
  display: flex;
  flex-direction: row;
  height: 85vh;
  padding: 16px 8px;
  margin-top: 16px;
  align-items: flex-start;
  gap: 20px;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.product-card-container {
  width: 28%;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  background: #fff;
}

.product-title {
}

.divHideScroll::-webkit-scrollbar {
  width: 0 !important;
}
.divHideScroll {
  height: 85vh;
  overflow: scroll;
}

.add-button {
  width: 100%;
  background: none;
  font-size: 16px;
  border: 2px solid #cdcdcd;
  padding: 10px 12px;
  border-radius: 4px;
}
.remove-button {
  width: 100%;
  background: none;
  font-size: 16px;
  border: 2px solid #cdcdcd;
  padding: 5px 12px;
  border-radius: 4px;
  color: red;
}

.cart-container {
  margin: 0 8px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  width: 30%;
  background: #fff;
  padding: 16px;
}

.cart-title {
  margin: 0;
  font-weight: 500;
}

.cart-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #d9dade;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
}

.cart-item-details {
  margin-left: 24px;
}

.empty-cart {
  height: 100px;
  padding: 25px 125px;
}
